
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/C99B5B47-index/1/s/chunks.json
.Rproj.user/shared/notebooks/C99B5B47-index/1/D60B89F1F44935EA/chunks.json
.Rproj.user/shared/notebooks/5215DF03-index/1/D60B89F1A99D2365/chunks.json
.Rproj.user/D60B89F1/sources/prop/INDEX
.Rproj.user/D60B89F1/sources/prop/FDDF412C
.Rproj.user/D60B89F1/sources/per/.DS_Store
.Rproj.user/D60B89F1/saved_source_markers
.Rproj.user/D60B89F1/rmd-outputs
*.pper
.Rproj.user
